
section{
	background-color:#ffe6e6;
	
}
table,th,td{
	border:solid;
	border-collapse:collapse;
}
.class1{
	text-align:center;
}
footer{
    text-align: center;
    background-color: slategrey;
    height: 6ex;
}
header{
	border:solid;
	height: 50px;
	background-color: aqua;
	margin: 0%;
	padding: 0%;
}
.colour_class{
	background-color: bisque;
}
