.table {
    display: table;
  }
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid black;
}

section{
	background-color:#ffe6e6;
	
}
.class1{
	text-align:center;
}
footer{
    text-align: center;
    background-color: slategrey;
    height: 6ex;
}
header{
	border:solid;
	height: 50px;
	background-color: rgb(240, 170, 113);
	margin: 0%;
	padding: 0%;
}
.text-center{
    text-align: center;
}